<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rrbot_ros2_control" params="name prefix use_gazebo:=^|false">

    <ros2_control name="${name}" type="system">
  <hardware>
    <xacro:if value="${use_gazebo}">
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </xacro:if>
  </hardware>

  <joint name="First_axis_joint">
    <!-- State (okuma) -->
    <state_interface name="position"/>
    <state_interface name="velocity">
      <param name="initial_value">0.0</param>
    </state_interface>
    <command_interface name="velocity"/>

    <!-- Command (yazma) - SADECE position -->
    <!-- <command_interface name="position"/> -->
  </joint>

  <joint name="Second_axis_joint">
    <state_interface name="position"/>
    <state_interface name="velocity">
      <param name="initial_value">0.0</param>
    </state_interface>
    <command_interface name="velocity"/>

    <!-- <command_interface name="position"/> -->
  </joint>

  <joint name="Third_axis_joint">
    <state_interface name="position"/>
    <state_interface name="velocity">
      <param name="initial_value">0.0</param>
    </state_interface>
    <command_interface name="velocity"/>

    <!-- <command_interface name="position"/> -->
  </joint>

    <joint name="right_gripper_hand_joint">
    <state_interface name="position"/>
    <state_interface name="velocity">
      <param name="initial_value">0.0</param>
    </state_interface>
    <command_interface name="velocity"/>

  </joint>

    <joint name="left_gripper_hand_joint">
    <state_interface name="position"/>
    <state_interface name="velocity">
      <param name="initial_value">0.0</param>
    </state_interface>
    <command_interface name="velocity"/>

  </joint>
</ros2_control>
  </xacro:macro>

</robot>
